
.nav {
    grid-area: n;
    font-size: 24px;
    max-width: 300px;
    height: 100vh;
}

.firstBar {
    display: grid;
    padding: 16px 0 8px;
    grid-area: firstBar;
    
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "navLink_1 " "navLink_2";
}
.navLink_1 {
    grid-area: navLink_1;
}

.navLink_2 {
    grid-area: navLink_2;
}
.navLink_3{
    grid-area: navLink_3;
}
.navLink_4{
    grid-area: navLink_4;
}
.navLink_5{
    grid-area: navLink_5;
}
.navLink_6{
 grid-area: navLink_6;
}
.navLink_7{
    grid-area: navLink_7;
   }

.label {
    display: grid;
    padding: 8px 20px;
    grid-template-areas: " element_1 element_2";
    grid-template-columns: 24px 240px;
    grid-template-rows: 24px;
    width: 260px;
    height: 20px;
}

.element_1 {
    grid-area: element_1;
}

.element_2 {
    grid-area: element_2;
}

.pInNavLink {
    font-family: inherit;
    align-self: center;
    color: black;
    font-size: 15px;
    margin: 0;

}

.divBeforeP {
    height: 20px;
    margin-left: 14px;
}

.Profile {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.pathInSvg {
    width: 100%;
    height: 100%;
}



.svgElement {
    justify-content: center;
    width: 20px;
    height: 20px;
}

.a {
    text-decoration: none;
    width: 260px;
    height: 24px;
}
.i_1 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/YHLvfJvVfG6.png');
    background-position: 0 0;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;

}
.background_hover{
    width: 100%;
    height: 100%;
}
.background_hover:hover{
    background-color:rgb(224, 224, 224); 
    border-radius: 5px;
    transition: .3s;
}