.background{
    display: grid;
    grid-template: 48px auto/ 100%;
    grid-template-areas: 'headerBar' 'contentBar';
    background-color: white;
    width: 328px;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.1);
    margin-left: 10px;
}
.headerBar{
    grid-area: headerBar;
    z-index: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 -1px rgba(0,0,0,0.1) inset,0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
    height: 48px;
}
.contentBar{
    display: grid;
    grid-template: auto 60px/ 100%;
    grid-template-areas: 'messageBar' 'inputBar';
    grid-area: contentBar;

}
.messageBar{
    grid-area: messageBar;
}
.inputBar{
    grid-area: inputBar;
}
.inHeaderBar{
    display: grid;
    grid-template: 44px/ 220px auto;
    grid-template-areas: 'profileElement functionElement';
    box-sizing: border-box;

}
.profileElement{
    display: grid;
    grid-template: 44px/ 44px auto;
    grid-template-areas: 'imgBar profileBar';
    width: auto;
    height: 100%;
    grid-area:profileElement ;
}
.functionElement{
    display: flex;
    grid-area: functionElement;
    height: 26px;
}
.statusBar{
    width:100%;
    height:36px;
    padding: 6px 6px 6px 2px;
    justify-self: center;
    display:grid;
    grid-area: profileBar;
    grid-template: 20px 18px/auto;
    grid-template-areas:"name" "status";
}
.divInA {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.svgProfile{
    border-radius: 30px;
}
.arrowInImg{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: green;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: 16px;
    right: 6px;
    transform: translate(50%, 50%);
}
.functional{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 26px;
    height: 26px;
}
.functional:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.wh18{
    width: 18px;
    height: 18px;;
}
.inMessageBar{
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.inInputBar{
    display: flex;
    padding: 12px 0 12px;
    height: 36px;
}
.spanInInputBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 40%;
}
.spanInInputBar:hover{
   background-color:  rgba(0, 0, 0, 0.05);
}
.inputContainer{
    display: flex;
    align-items: center;
}