.Profile {
    grid-area: p;

}

/* content */
.back {
    width: 100%;
    height: 200px;
}

.prof {
    width: 120px;
    height: 120px;
    margin: 10px;
}

.logo-bar {
    display: flex;
}

textarea {
    background-color: rgb(207, 205, 205);
}