.Profile {
    display: grid;
    position: relative;
    max-width:680px;
    width: 100%;
    min-width: 320px;
    grid-area: p;
    grid-template: auto 123px 56px/ 100%;
    grid-template-areas: "firstBar " "twoBar " "threeBar";
    margin-top: 15px;
    row-gap: 20px;
    
}
.contentBar{
    display: grid;
    background-color:#fff;
    height:100%;
    border-radius: 8px;
    z-index:0;
    position:relative;
}
.firstBar{
    grid-area: firstBar;
}
.twoBar{
    grid-area: twoBar;
}
.threeBar{
    grid-area: threeBar;
}
.box_shadow{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.bar_2{
    grid-template: 40px auto/ auto;
    grid-template-areas: 'topBar' 'bottomBar';
}
.input {
    background-color: #F0F2F5;
    border-radius: 50px;
    font-size: 17px;
    max-width: 576px;
    min-width: 0;
    max-height: 40px;
    height: 24px;
    width: 100%;
    align-self: center;
    outline: none;
    border: none;
    padding: 8px 12px;
}
.svgGlass {
    align-self: center;
}
.topBar{
    grid-area:topBar;
    display: grid;
    grid-template: 40px/45px auto;
    grid-template-areas: 'imgBar inputBar';
}
.bottomBar{
    display: grid;
    grid-area: bottomBar;
    border-top: solid 1px #E4E6EB;
    grid-template: 45px/ auto auto auto;
    grid-template-areas: 'firstColumn twoColumn threeColumn';
    padding:8px 0 0;
    margin:12px 0 0 
}
.navLinks {
    background-color: rgb(226, 225, 225);
    border-radius: 20px;
}
.divInA {
    display: flex;
    align-items: center;
    background-color: white;
}
.bottomBarEl{
    display:grid; 
    grid-template:24px / 30px 95px;
    grid-template-areas:'img text';
}
.svgProfile{
    border-radius: 30px;}
.storisBar{
    background-color: white;
    height: 100%;
    max-width: 130px;
    min-width: 74px ;
    width: 130px;
    border-radius: 10px;
}

.storisBar{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}
    
.gap{
    margin-bottom: 16px;
}
.background_hover:hover{
    background-color:rgb(224, 224, 224); 
    border-radius: 5px;
    transition: .3s;
}
.plus{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.hover:hover{
    transition: 0.3s;
    transform: scale(1.02);
}