.header {
    max-height: 56px;
    display: grid;
    grid-area: h;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    grid-template-areas: "logo input info";
    grid-template-columns: 300px auto 360px;
}

.logo {
    font-family: sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 8px;
    padding-left: 15px;
    grid-area: logo;
    display: inline-block;
    align-self: center;
}

.headerLogo {
    height: 56px;
}

.headerInput {
    grid-area: input;
    max-width:680px;
    width: 100%;
    min-width: 320px;
    
}
.label{
    position: relative;
}

.label input {
    background-color: #F0F2F5;
    outline: none;
    height: 20px;
    width: 100%;
    border: none;
    /* padding-left: 24px; */
    align-self: center;
}

.headerInfo {
    grid-area: info; 
    width: 136px;
    margin-left: auto;
    padding: 0 16px 0 4px;
    height: 100%;
}

.label {
    max-width: 680px;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #F0F2F5;
    border-radius: 30px;
    align-self: center;
}

.svgGlass {
    align-self: center;
}

.headerNav {
    height: 100%;
    display: grid;
    grid-template-areas: "messageNav1 messageNav2 messageNav3";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.spanNav {
    display: flex;
    position: relative;
    height: 56px;
    align-self: center;
}

.navLinks {
    background-color: rgb(226, 225, 225);
    border-radius: 30px;
    margin-top: 6px;
}


.navLinks {
    width: 40px;
    height: 40px;

}

.divInA {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.messageInfo {
    width: 40px;
    height: 56px;
    margin-right: 8px;
}

.spanMessageInfo {
    width: 40px;
    height: 56px;
    justify-content: center;
    align-self: center;
}
.messageNav1{
    grid-area: messageNav1;
}
.messageNav2{
    grid-area: messageNav2;
}
.messageNav3{
    grid-area: messageNav3;
}
.profile{
    width: 40px;
    height: 40px;
    
}
.arrowInImg{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: 16px;
    right: 6px;
    transform: translate(50%, 50%);
}
.profileImg{
    background-color: rgb(226, 225, 225);
    border-radius: 30px;
    height: 40px;
    width: 40px;
}
.svgProfile{
border-radius: 30px;}
.profileMessage{
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
}
.dropdownField{
    display: none;

}
.dropdownFieldFocus{
    display: block;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
    max-width: 680px;
    width: 664px;
    min-width: 532px;
    padding: 8px;
}
.spanInField{
    z-index: 1;
    color:#65676B;
    font-weight: 400;
    font-family: inherit;
}
.spanInField:before{
    content: '';
    margin-top: -5px;
    height: 0;
}
.spanInField:after{
    content: '';
    margin-bottom: -4px;
    height: 0;
}